html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.parent {
    width: 80%;
    margin: 0 auto;
    background-color: darkcyan;
    padding: 50px;
}

.child {
    background-color: darkblue;
    border: 1px solid black;
    height: 500px;
    overflow: hidden;
    color: darkgray;
}